.vscode/*
*
!*.*
!*/
Parte1/*.csv
.Rhistory
*.log
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Csv/distribution_method1.csv
Csv/distribution_method2.csv
Csv/distribution_method3.csv
Csv/distribution_method4.csv
Csv/naive_0.csv
Csv/naive_1.csv
Csv/naive_2.csv
Csv/naive_3.csv
Csv/smart_0.csv
Csv/smart_1.csv
Csv/var_smart_2.csv
Csv/var_naive_2.csv
Csv/smart_3.csv
Csv/smart_2.csv
Parte1/distr1.pdf
Parte1/distr2.pdf
Parte1/distr3.pdf
Parte1/distr4.pdf
Parte1/graph_1_linear.pdf
Parte1/graph_1.pdf
Parte1/graph_2.pdf
Parte1/graph_3.pdf
Parte1/graph_4.pdf
Parte1/var.pdf
Parte1/distribution_method1.csv
Parte1/distribution_method2.csv
Parte1/distribution_method3.csv
Parte1/distribution_method4.csv
!Makefile
Parte2/main.exe
